/* Layout style */

body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /*
    border-style: solid;
    border-color: blue;
    */
}

#logo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

#logo img{
    width: 200;
    height: auto;
    padding-bottom: 15px;
}

#logo h1{
    padding-top: 30px;
}

nav{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    /*
    border-style: solid;
    border-color: aqua;
    */
}


header a:link{
    text-decoration: none;
    
}

header a:visited{
    color: black;
}

header h2{

    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /*
    border-style: solid;
    border-color: green;
    */
}



main {
    min-height: 75vh;  /* käytä min-height height:n sijaan */
    max-width: 70vw;
    margin-left: 15%;
    margin-right: 15%;
    /*
    border-style: solid;
    border-color: red;
    */
}

footer{
    height: 10vh;
    width: 100vw;
    /*
    border-style: solid;
    border-color: blue;
    */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home */

#home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#home .block{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 15%;
}

#home .block #block_info{
    display: flex;
    flex-direction: column;
} 

#home h3{
    margin-top: 0;
    margin-bottom: 10px;
}

/*Login*/

#login{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

#login .button{
    margin-top: 10px;
 
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #616467;
    }
}
                

/*Signin*/

#signin{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

#signin .button{
    margin-top: 10px;
 
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #616467;
    }
}
    

/* Search */

#search{
    display: flex;
    flex-direction: column;
    min-width: 30%;
}



/* User page */

#user_page{
    display: flex;
    flex-direction: column;
}

/* Pictures */

#pictures{
 
}

#pictures img{
    margin: auto;
}

#pictures h1{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 5%;
}

/* Picture */

#picture img{
    margin: auto;
}
#picture h3{
    display: flex;
    justify-content: center;
    align-items: center;

}

#picture .text, h4{
    display: flex;
    justify-content: center;
    align-items: center;
}


#date{
    display: flex;
    justify-content: center;
    align-items: center;
}


#picture a{
    margin-left: 30%;
    min-width: 160px;
    width: 40%;
}


/* Modfify */

#modify img{
    margin: auto;
}

/* Add  picture */

#add_picture h4, p, label{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* User_page */

#user_page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#user_page .row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 300px;
}

.row div{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.row div p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row div a{
    text-decoration: underline;
}

#my_pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* My comments */

#my_comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#my_comments .divider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}


/* Utility  */

html, body {
    font-family: 'Courier New', monospace;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


*{
    box-sizing: border-box;
}

.form{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.button{
    margin-top: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #616467;
    }
}

h1{
    margin:0;
}

h2{
    margin-top: 10px;
    margin-right: 10px;
}

p{
    margin-bottom: 0;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

#textarea {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  
}
 
#textarea:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}


img {
    max-width: 35%;
    height: auto;
    display: block;
}



.divider{

    border-top: solid grey 3px ;
    margin-top: 5px;
    margin-bottom: 25px;
    width: 100%;
}

a:link{
    text-decoration: none;
    
}

a:visited{
    color: black;
}

input[type="file"]{
    display: none;
}