




/* Layout style */


body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: blue;
}


nav{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: aqua;
}


header a:link{
    text-decoration: none;
    
}

header a:visited{
    color: black;
}

.message{
    height: 5vh;
    width: 100vw;
    border-style: solid;
    border-color: green;
}



main {
    min-height: 75vh;  /* käytä min-height height:n sijaan */
    max-width: 70vw;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: red;
}

footer{
    height: 10vh;
    width: 100vw;
    border-style: solid;
    border-color: blue;
}

/* main-elementin korkeus */


/* Utiluty style */

/* Korjaa body ja html */
html, body {
    font-family: 'Courier New', monospace;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}




*{
    box-sizing: border-box;
}

.form{
    display: flex;
    flex-direction: column;
}

.column{
    display: flex;
    flex-direction: column;
}


h1{
    margin:0;
}

h2{
    margin-top: 10px;
    margin-right: 10px;
}

p{
    margin-bottom: 0;
}

.content img {
    max-width: 35%;
    height: auto;
    display: block;  /* Poistaa ylimääräisen tilan kuvan alta */
}