




/* Layout style */

h1{
    margin:0;
}

body{
    height: 90vh;
    padding: 0;
    margin: 0;
}

header{
    
    height: 10vh;
    
    width: 100vw;
    background-color: blue;
}

nav{
    display: flexbox;
    flex-direction: row;
    color: blue;
}

main{
   height: 80vh;
    margin-left: 20%;
    margin-right: 20%;
    background-color: red;
}

footer{
    height: 10vh;
    width: 100vw;
    background-color: blue;
}



/* Utiluty style */

html{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.form{
    display: flex;
    flex-direction: column;
}
    
.column{
    display: flex;
    flex-direction: column;
}

