{% extends "layout.html" %}

{% block content %}
<div id="add_picture">

    <form class="form" action="/add_new_picture" method="post" enctype="multipart/form-data">
        <input id="add_file" type="file" name="image" accept="image/*"  required/>
    <label for="add_file" class="button">
        Choose .jpg or .png file
    </label>
    <h4>Name</h4>
    <input class="input" type="text" name="name" required/>
    <h4>Description</h4>
    <textarea id="textarea" type="textarea" name="description" rows="5" cols="20"></textarea>
    <h4>Date</h4>
    <input class="input" type="text" name="date" placeholder="dd.mm.yyyy">
    Categories:
    <form class="form" action="search_with_categories" method="get">
        <label for="portrait">
            <input type="checkbox" id="portrait" name="category" value="1">
            Portrait
        </label>
        <label for="view">
            <input type="checkbox" id="view" name="category" value="2">
            View
        </label>
        <label for="animal">
            <input type="checkbox" id="animal" name="category" value="3">
            Animal
        </label>
        <label for="people">
            <input type="checkbox" id="people" name="category" value="4">
            People
        </label>
        <input type="hidden" name="csrf_token" value="{{session['csrf_token']}}"/>
        <input class="button" type="submit" value="Add picture"/>
    </form>
    </div>
    
{% endblock %}