{% extends "layout.html" %}

{% block content %}

<form class="form" action="/add_new_picture" method="post" enctype="multipart/form-data" class="form">
    Picture: <input type="file" name="image" accept="image/*"  required/>
    Name: <input class="input" type="text" name="name" required/>
    Description: <input class="input type="text" name="description"/>
    Date <input class="input" type="text" name="date" placeholder="dd.mm.yyyy">
    Categories:
    <input type="checkbox" id="portrait" name="category" value="1">
    <label for="portrait">Portrait</label>
    <input type="checkbox" id="view" name="category" value="2">
    <label for="view">View</label>
    <input type="checkbox" id="animal" name="category" value="3">
    <label for="animal">Animal</label>
    <input type="checkbox" id="people" name="category" value="4">
    <label for="people">People</label>
    <input type="hidden" name="csrf_token" value="{{session['csrf_token']}}"/>
    <input class="button" type="submit" value="Add picture"/>
</form>

{% endblock %}