{% extends "layout.html" %}

{% block content %}
<div id="home">

  <div class="block">
    <h3>
      Last 5 pictures added
    </h3>
    {% if pictures %}
      {% for picture in pictures %}
        <div id="block_info">
          <p>
            {{picture['name']}}
          </p>
          <a href="/picture/{{picture['id']}}">
            <img src="/image/picture/{{picture['id']}}">
          </a>
        </div>
        <div class="divider"></div>
      {% endfor %}
    {% else %}
      No pictures added yet
    {% endif %}
  </div>
  <div class="block">
    <h3>
      Last 5 comments made
    </h3>
    {% if  comments%}
      {% for comment in comments %}
      <div id="block_info">
        {{comment['comment']}}
        <a href="/picture/{{comment['picture_id']}}">Show picture</a>
      </div>
      <div class="divider"></div>
        {% endfor %}
      {% else %}
        No comments added yet
    {% endif %}
  </div>

</div>

{% endblock %}
