<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <header class="header">
      <div id="logo">
        <h1 style="padding-top: 10px;">PhotoShare</h1>
        <img src="../static/logo.png">
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/pictures" >Pictures</a>
        <a href="/search">Search</a>
        {% if session.id %}
          <a href="/add_picture">Add picture</a>
          <a href="/my_pictures">My pictures</a>
          <a href="/my_comments"> My comments</a>
          <a href="/user_page">My page</a>
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/statistics">Statistics</a>
          <a href="/signin">Signin</a>
          <a href="/login">Login</a>
        {% endif %}  
        </nav>
        {% if session %}
          <h2>{{session['username']}}</h2>
        {% else %}
          <p>                 </p>
        {% endif %}
    </header>
    <div class="message">        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% if messages[0][0] == 'success'  %}
              <h1 style="color: green;">{{messages[0][1]}}</h1>
            {% else %}
              <h1 style="color: red;">{{messages[0][1]}}</h1>
            {% endif %}
          {% endif %}
        {% endwith %}
    </div>
    <main>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer>
      THIS IS FOOTER
    </footer>
  </body>
</html>