{% extends "layout.html" %}

{% block content %}
    <div id="search">

        <p>Search by keyword in name or description</p>
        <form class="form" action="search_with_parameter" method="get">
            <input class="input" type="text" name="parameter" placeholder='ex. "Sundown" or "friends" ' width="20%">
            <input class="button" type="submit" value="Search">
        </form>
        <p>Search by category</p>
        <form class="form" action="search_with_categories" method="get">
            <label for="portrait">
                <input type="checkbox" id="portrait" name="category" value="1">
                Portrait
            </label>
            <label for="view">
                <input type="checkbox" id="view" name="category" value="2">
                View
            </label>
            <label for="animal">
                <input type="checkbox" id="animal" name="category" value="3">
                Animal
            </label>
            <label for="people">
                <input type="checkbox" id="people" name="category" value="4">
                People
            </label>
            <input class="button" type="submit" value="Search"/>
        </form>
        
    </div>
{% endblock %}