{% extends "layout.html" %}

{% block content %}
<div id="user_page">
    <div class="row">
        <div id="my_pic">   
            {% if image %}
                <img src="/user_picture/{{session['id']}}"  width="200" height="auto">
                <a href="/change_user_picture" class="button" >Change user picture</a>
            {% else %}
            <p>No picture</p>
            <form class="form" action="/add_or_update_userpage_pic/{{session['id']}}" method="post" enctype="multipart/form-data">
                <input id="add_file" type="file" name="image" accept="image/*"  required/>
                <label for="add_file" class="button">
                    Choose picture
                </label>
                <input type="hidden" name="csrf_token" value="{{session['csrf_token']}}"/>
                <input class="button" type="submit" value="Add user picture">
            </form>
    </label>
            </form>
            {% endif %}
        </div>
        <div>
            <h4>Info</h4>
            <P>Username: {{session['username']}}</P>
            <p>Pictures added: {{mini_stats['pictures']}} </p>
            <p>Comments made: {{mini_stats['comments']}}</p>
        </div>
    </div>
    <div class="row">

     <div>
            <h4> Pictures you have added lately </h4>
            {% if pictures %}
                {% for picture in pictures %}
                    <p><a href="/picture/{{picture['id']}}"><b>{{picture['name']}}</b></a></p>
                {% endfor %}
            {% else %}
                <p>No pictures added</p>
            {% endif %}
    </div>
    <div>
        <h4> Comments you have made lately </h4>
        {% if comments %}
            {% for comment in comments %}
                <p>{{comment['comment']}}</p>
                <p><a href="/picture/{{comment['picture_id']}}">Show picture</a></p>
            {% endfor %}
        {% else %}
            <p>No comments made</p>
        {% endif %}
    </div>
</div>


{% endblock %}